version: '3.8'

services:
  db:
    image: postgres:16
    container_name: quenaire_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    networks:
      - app-network

  web:
    build: .
    container_name: quenaire_web
    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db
    command: >
      sh -c "python web/manage.py migrate &&
            gunicorn web.wsgi:application --chdir /app/web --bind 0.0.0.0:8000"

    ports:
      - "8000:8000"
    networks:
      - app-network

  bot:
    build: .
    container_name: quenaire_bot
    env_file:
      - .env
    depends_on:
      - web
    volumes:
      - .:/app
    command: python bot/main.py
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
